# **TASK 1 PERFORM DATA CLEANING**

In [1]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('/content/tested.csv')

In [2]:
# Display the column names
print("Column names in the dataset:")
print(data.columns)

Column names in the dataset:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
print("Initial shape of the dataset:", data.shape)
print(data.head())

Initial shape of the dataset: (418, 12)
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [4]:
# Check for missing values
missing_values = data.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [5]:
# Remove missing values
data_cleaned = data.dropna()

In [6]:
# Display the shape of the cleaned dataset
print("Shape of the cleaned dataset:", data_cleaned.shape)

Shape of the cleaned dataset: (87, 12)

In [7]:
# Handling outliers using z-score for numerical columns
numerical_columns = data_cleaned.select_dtypes(include=np.number).columns.tolist()

for column_name in numerical_columns:
    z_scores = np.abs((data_cleaned[column_name] - data_cleaned[column_name].mean()) / data_cleaned[column_name].std())
    threshold = 3  # Set your threshold as required

    # Remove rows with outliers based on the threshold
    data_cleaned = data_cleaned[z_scores < threshold]

# Display the shape after handling outliers for all numerical columns
print("Shape after handling outliers for all numerical columns:", data_cleaned.shape)

# Save the cleaned dataset to a new CSV file
data_cleaned.to_csv('cleaned_data.csv', index=False)

Shape after handling outliers for all numerical columns: (81, 12)