# **TASK 2 CALCULATE SUMMARY STATISTICS**

In [3]:
import pandas as pd

# Load your dataset
data = pd.read_csv('/content/tested.csv')

# Display the first few rows
print("Initial shape of the dataset:", data.shape)
print(data.head())

Initial shape of the dataset: (418, 12)
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [4]:
numeric_columns = data.select_dtypes(include=['float64', 'int64'])
summary_stats = numeric_columns.describe()
print("Summary Statistics:")
print(summary_stats)
# Calculate summary statistics
summary_stats = {
    'Mean': data.mean(numeric_only=True),
    'Median': data.median(numeric_only=True),
    'Standard Deviation': data.std(numeric_only=True)
}

# Calculate mode for each column
modes = data.mode(numeric_only=True).iloc[0]

# Add mode to the summary statistics
summary_stats['Mode'] = modes

# Display the summary statistics
for stat_name, stat_values in summary_stats.items():
    print(f"\n{stat_name}:\n{stat_values}")

Summary Statistics:
       PassengerId    Survived      Pclass         Age       SibSp  \
count   418.000000  418.000000  418.000000  332.000000  418.000000
mean   1100.500000    0.363636    2.265550   30.272590    0.447368
std     120.810458    0.481622    0.841838   14.181209    0.896760
min     892.000000    0.000000    1.000000    0.170000    0.000000
25%     996.250000    0.000000    1.000000   21.000000    0.000000
50%    1100.500000    0.000000    3.000000   27.000000    0.000000
75%    1204.750000    1.000000    3.000000   39.000000    1.000000
max    1309.000000    1.000000    3.000000   76.000000    8.000000

            Parch        Fare
count  418.000000  417.000000
mean     0.392344   35.627188
std      0.981429   55.907576
min      0.000000    0.000000
25%      0.000000    7.895800
50%      0.000000   14.454200
75%      0.000000   31.500000
max      9.000000  512.329200

Mean:
PassengerId    1100.500000
Survived          0.363636
Pclass            2.265550
Age              30.272590
SibSp             0.447368
Parch             0.392344
Fare             35.627188
dtype: float64

Median:
PassengerId    1100.5000
Survived          0.0000
Pclass            3.0000
Age              27.0000
SibSp             0.0000
Parch             0.0000
Fare             14.4542
dtype: float64

Standard Deviation:
PassengerId    120.810458
Survived         0.481622
Pclass           0.841838
Age             14.181209
SibSp            0.896760
Parch            0.981429
Fare            55.907576
dtype: float64

Mode:
PassengerId    892.00
Survived         0.00
Pclass           3.00
Age             21.00
SibSp            0.00
Parch            0.00
Fare             7.75
Name: 0, dtype: float64