# **TASK 4 PIVOTE TABLE**

In [3]:
import pandas as pd

# Load your dataset
data = pd.read_csv('/content/tested.csv')

# We want to calculate the average 'Fare' for each 'Pclass' and 'Sex'

pivot_table = data.pivot_table(values='Fare', index='Pclass', columns='Sex', aggfunc='mean')

# Display the pivot table
print("\nPivot Table - Average Fare by Pclass and Sex:\n")
print(pivot_table)

Pivot Table - Average Fare by Pclass and Sex:

Sex         female       male
Pclass
1       115.591168  75.586551
2        26.438750  20.184654
3        13.735129  11.826350

In [4]:
# Create a pivot table to summarize passenger count by 'Pclass' and 'Survived'
pivot_table_passengers = data.pivot_table(values='PassengerId', index='Pclass', columns='Survived', aggfunc='count', fill_value=0)

# Display the pivot table
print("\nPivot Table - Passenger Count by Pclass and Survived:\n")
print(pivot_table_passengers)

Pivot Table - Passenger Count by Pclass and Survived:

Survived    0   1
Pclass
1          57  50
2          63  30
3         146  72